

<div id="maintitle">Gimme</div>
<div id="mainsubtitle">A wishlist app</div>


<a href="/auth/facebook" target="_blank">
<button id="loginbutton">Sign up/Log in with Facebook
</button></a>


<div id="mainfooter">
Gimme is a mobile-first rails web application developed by <a href="http://emmya.github.io" target="_blank">Emmy Armintrout</a>, <a href="https://www.facebook.com/sandia.barcelona" target="_blank">Sandi Ma</a>, and <a href="https://www.facebook.com/matthew.t.gray" target="_blank">Matt Gray</a>. Customize lists, share with friends, and view theirs to claim items!</div>