<div class={{id}}>
	<input type="text" id = "{{id}}name" placeholder="what's the thing?">
	<input type="text" id = "{{id}}pic" placeholder="picture_url">
	<button onclick="Wishes.submitItem({{id}})">Submit</button>
</div>