
<button id="newwishbutton" class="firstwishbutton" onclick="Gimme.addNewItem()">+new item</button>
<div id="newcontainer" class="hide">
	<input type="text" data-mini="true" class="newfield" id = "name" placeholder="item name" maxlength="20">
	<input type="text" data-mini="true" class="newfield" id = "description" placeholder="details" maxlength="90">
	<input type="text" data-mini="true" class="newfield" id = "url" placeholder="item url (optional)">
	<input type="text" data-mini="true" class="newfield" id = "pic" placeholder="image url (optional)">
	<button id="newwishbutton" class="secondwishbutton" onclick="Gimme.submitItem()">add item</button>
</div>