
<button id="newwishbutton" class="firstwishbutton" onclick="Gimme.addNewItem()">+new item</button>
<div id="newcontainer" class="hide">
	<input type="text" data-mini="true" class="newfield" id = "name" placeholder="item name" maxlength="20">
	<input type="text" data-mini="true" class="newfield" id = "description" placeholder="details" maxlength="75">
	<input type="text" data-mini="true" class="newfield" id = "url" placeholder="item url (optional)">
	<input type="text" data-mini="true" class="newfield" id = "pic" placeholder="image url (optional)">
	{{#if edit}}
	<button id="newwishbutton" class="secondwishbutton" onclick="Wishes.editItem()">edit item</button>
	{{else}}
	<button id="newwishbutton" class="secondwishbutton" onclick="Wishes.submitItem()">add item</button>
	{{/if}}
</div>