// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ================ */
/*   slider menu    */
/* ================ */
.menu {
	position: fixed;
	left: 100%;
	height: 30%;
	width: 33.33%;
	margin-left: -33.33%;
	display: block;
	background-color: white;
	text-shadow: none;
	border-top-left-radius: 5px;
	bottom: -100%;
}

.open {
	bottom: 0%;
}

.closed {
	bottom: -100%;
}

.menu ul {
	list-style-type: none;
	padding-left: 5px;
}

.menu li {
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #324D5B;
}

.menu li:first-child {
}

.menu li a {
	color: #33A5B3 !important;
}