/*// Place all the styles related to the wishlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
}


#hamburger {
	width: 30px;
	margin: 10px;
}

#icon {
	padding: 5px;
	border-radius: 10px;
}

.newrow {
	padding: 10px;
	text-decoration: none;
}

label {
   font-weight: 300;
}

.radios {
   font-weight: 300;
}

.submitbutton {
	border: none;
	background-color: rgba(0, 0, 0, 0);
	text-decoration: none;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.radiofield {
	padding: 20px;
}

.radiolabel {
	margin-left: 40px;
	margin-top: -13px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}