/*// Place all the styles related to the wishlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

/*COLORS
purple: #81479B
yellow:  #FCDC55
blue: #28AAE0
periwinkle: #BDC8E2*/

.hide {
	display: none;
}
#spacer {
	height: 20px;
}

/*set the body to a max width - currently excludes footers and headers*/
/*#fix {
	max-width: 500px;
	margin: 0 auto;
}*/

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
	outline: none !important;
	box-shadow: none !important;
}
	div {
		box-shadow: none !important;
		border: none !important;
	}
	label {
		box-shadow: none !important;
		border: none !important;
	}
	textarea {
		box-shadow: none !important;
		border: none !important;
	}
	.ui-input-text {
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-weight: 300 !important;
	}
	button {
		box-shadow: none !important;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
	}
	textarea {
		box-shadow: none !important;
		border: none !important;
	}
	input {
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
		text-decoration: none;
	}
	a {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
	color: #81479B !important;
	}
	a:hover {
		color: #28AAE0 !important;
		text-decoration: none !important;
	}
	/*rid of all boarders/shadows*/


/* ================== */
/* show wishlist page */
/* ================== */

/*each li*/
.listitem {
	height: 65px;
	clear: both;
	border-bottom: 1px solid black;
	padding: 2px;
	overflow: hidden;
}

/*item title*/
.itemlisttitle {
	font-size: 24px;
	clear: both;
	float: left;
	width: 60%;
}

/*list icon*/
.listpic {
	float: right;
	border: none;
	overflow: hidden;
	padding-top: 1px;
}
.biglistpic {
	height: 110px;
	width: 110px;
	margin-top: 3px;
}
.smlistpic {
	height: 60px;
	width: 60px;
}

/*list info*/
.listinfo {
	font-size: 14px;
	clear: left;
}

/*class of ul*/
.items {
	border-top: 1px solid black;
}

/*new item form*/
#newcontainer {
	padding-top: 10px;
}
#newcontainer input{
	margin-top: 0px;
	font-size: 15px;
}
#newwishbutton {
	text-decoration: none !important;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
	font-weight: 400 !important;
	height: 35px;
	font-size: 19px;
	padding-top: 3px;
}

/*wishlist header css*/
#listsubtitle {
	margin-top: -18px;
	font-size: 15px;
	color: #81479B;
}
#listdescrip {
	font-size: 12px;
	padding-top: 8px;
}

/* ================== */
/*  new wishlist page */
/* ================== */
.heading {
	height: 70px;
}
	#headtitle {
		font-size: 30px;
	}
	#icon {
		padding: 5px;
		border-radius: 10px;
	}
	.submitbutton {
		border: none;
		background-color: rgba(0, 0, 0, 0);
		text-decoration: none !important;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
		font-weight: 400 !important;
	}
	/*radio button section*/
	.ui-grid-c {
		padding-top: 10px;
		padding-bottom: 5px;
	}
	.radiolabel {
		font-size: .6em;
		margin-left: 30px;
		margin-top: -7px;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	}
	#radiotitle {
		float: left;
		margin-left: 5px;
		color: gray;
	}
	/*end*/

	/*placeholder text*/
	::-webkit-input-placeholder {
		font-size: 15px;
	   color: gray;
	   text-shadow: none;
	   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	}
		:-moz-placeholder { /* Firefox 18- */
		   color: gray;
		   text-shadow: none;
		   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;  
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   color: gray;
		   text-shadow: none;
		   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;  
		}

		:-ms-input-placeholder {  
		   color: gray;
		   text-shadow: none;
		   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
		}

	/* entry text */
	.ui-link {
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
		font-weight: 300 !important;
	}


