/*// Place all the styles related to the wishlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

/*COLORS
purple: #81479B
yellow:  #FCDC55
blue: #28AAE0
periwinkle: #BDC8E2*/

.ui-overlay-a, .ui-page-theme-a, .ui-panel-wrapper {
	background-color: #324D5B;
	color: white;
	text-shadow: none;
}

.hide {
	display: none;
}
#spacer {
	height: 20px;
}

/*set the body to a max width - currently excludes footers and headers*/
/*#fix {
	max-width: 500px;
	margin: 0 auto;
	text-shadow: none !important;
}*/

/* ------------------------------------------------- */
/* Undoing jQuery Mobile CSS defaults  */
/* removes shadows/outlines, adds helvetica neue */
/* ------------------------------------------------- */
body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
	outline: none !important;
	box-shadow: none !important;
}
	div {
		box-shadow: none !important;
		border: none !important;
	}
	label {
		box-shadow: none !important;
		border: none !important;
	}
	textarea {
		box-shadow: none !important;
		border: none !important;
		font-color: #FEFEFE !important;
		border-radius: 0px !important;
	}
	.ui-input-text {
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-weight: 300 !important;
		color: #324D5B !important;
		text-shadow: none !important;
		font-size: 15px !important;
	}
	button {
		box-shadow: none !important;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
	}
	textarea {
		box-shadow: none !important;
		border: none !important;
		background-color: white !important;
		height: 60px !important;
	}
	input {
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
		text-decoration: none;
		background-color: white !important;
		border-radius: 0px !important;
	}
	a {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
	text-shadow: none !important;
	}
	a:hover {
		color: #28AAE0 !important;
		text-decoration: none !important;
	}

	#select-7-button, .ui-btn, .ui-btn a {
		background-color: #AFBEC0 !important;
		color: #324D5B !important;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-weight: 300 !important;
		text-shadow: none;
		border-radius: 0px !important;
		border: none !important;
	}


/* ================== */
/* show wishlist page */
/* ================== */

/*each li*/
.listitem {
	position: relative;
	height: 65px;
	clear: both;
	padding-top: 2px;
	padding-bottom: 2px;
	overflow: hidden;
	text-shadow: none;
	margin: 0;
}
/*item title*/
.itemlisttitle {
	font-size: 22px;
	clear: both;
	float: left;
	margin-left: 5px;
	width: 60%;
}
/*list icon*/
.listpic {
	float: right;
	border: none;
	overflow: hidden;
	margin-top: 3px;
	margin-right: 3px;
	border-radius: 7px;
}
.biglistpic {
	height: 110px;
	width: 110px;
}
.smlistpic {
	height: 60px;
	width: 60px;
}
/*list info*/
.listinfo {
	font-size: 16px;
	clear: left;
	margin-left: 5px;
}
.detailsbutton {
	position: absolute;
	color: #324D5B;
	background-color: rgba(255, 255, 255, .5);
	border: none;
	bottom: 3px !important;
	right: 3px !important;
	border-radius: 6px;
	margin-right: 3px;
}
#editbutton {
	right: 60px !important;
}
/*class of ul*/
.items {
}

#itemurl {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300 !important;
	color: #324D5B;
}

/*new item form*/
#newcontainer {
	padding-top: 10px;
}
#newcontainer input{
	margin-top: 0px;
	font-size: 15px;
}
#newwishbutton {
	text-decoration: none !important;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
	font-weight: 400 !important;
	height: 35px;
	font-size: 19px;
	padding-top: 3px;
}

.listbuttons {
	height: 0px;
}

/*wishlist header css*/
#listsubtitle {
	margin-top: -18px;
	font-size: 16px;
	margin-left: 10px;
	color: #AFBEC0;
}
#listdescrip {
	font-size: 15px;
	padding-top: 8px;
}

/* ================== */
/*  new wishlist page */
/* ================== */
.heading {
	height: 70px;
}
	#headtitle {
		font-size: 30px;
	}
	#icon {
		padding: 5px;
		border-radius: 10px;
	}
	.submitbutton {
		border: none;
		background-color: rgba(0, 0, 0, 0) !important;
		text-decoration: none !important;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
		font-weight: 400 !important;
	}

#choosetheme {
	padding: 0 !important;
}
#choosetheme .ui-btn {
	background: white !important;
	color: #33A5B3 !important;
	height: 35px;
}

	/*placeholder text*/
	::-webkit-input-placeholder {
		color: #33A5B3 !important;
		font-weight: 300 !important;
		font-size: 15px;
	   text-shadow: none;
	   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	}
		:-moz-placeholder { /* Firefox 18- */
		   color: #33A5B3 !important;
			font-size: 15px;
		   text-shadow: none;
		   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;  
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   color: #33A5B3 !important;
			font-size: 15px;
		   text-shadow: none;
		   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;  
		}

		:-ms-input-placeholder {  
		   color: #33A5B3 !important;
			font-size: 15px;
		   text-shadow: none;
		   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
		}

	/* entry text */
	.ui-link {
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
		font-weight: 300 !important;
	}

/* ================== */
/*  wishlists index   */
/* ================== */

.listbutton {
	background-color: rgba(255, 255, 255, .3) !important;
	border: none !important;
	font-size: 10px;
	margin: 0;
	margin-top: -1px;
}
.wishlistslist {
	width: 100% !important;
	margin: 0;
}
.listbutton a {
	color: white !important;
	background-color: rgba(0, 0, 0, 0) !important;
}
#deletebutton {
	border: none !important;
	background-color: rgba(0, 0, 0, 0) !important;
	padding: 0 !important;
}
.titlebutton {
/*	color: white !important;*/
}
.indexlink {
	margin-bottom: 0px;
}
