<h1>All Wishlists</h1>

<% @wishlists.each do |wish| %>
	<div class='wishlist'>
	<a href="/wishlists/<%= wish.id %>">
  <p><%= wish.title %></p>
  </a>
  <br>

</div>
<% end %>

<!-- slide menu panel -->
<div class="menu" id="menu">
<ul>
  <li><a href="#">View claimed items</a></li>
  <li><%= link_to "Log out", logout_path %></li>
</ul>
</div>

<div data-role="footer" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar">
      <ul>
        <li><a href="/wishlists" data-icon="bullets"> All Lists</a></li>
        <li><a href="/wishlists/new" data-icon="plus">New List</a></li>
        <li><a href="#" onclick="Gimme.showMenu()" data-icon="star">More</a></li>
      </ul>
    </div>
  </div>