<h1>Current Wishlists</h1>

<% @wishlists.each do |wish| %>
<div class='wishlist'>
	<a href="wishlists/<%= wish.id %>">
  <h2><%= wish.title %></h2>
  </a>
  <br>

</div>
<% end %>

<a href="/wishlists/new">Create new</a>