HAMBERGER
<div class="text-right">
<img id="icon" src="<%= @pic %>">
</div>

<div>
	<input id = "list_title" type="text" placeholder="title">
	<input type="text" id = "datepicker" placeholder="date">
	<br>
	<input type="radio" name="kind" value="christmas">Christmas
	<br>
	<input type="radio" name="kind" value="birthday">Birthday
	<br>
	<input type="radio" name="kind" value="other">Other
	<br>
	<button onclick="Wishes.createWish()">Submit</button>
</div>

<div class="items">
	
</div>