Showing wishlist <%= @wishlist.id %>

<br>

<%= @wishlist.title %>



<div class="items">
	
</div>
<div class="forms">
	
</div>
<script type="text/javascript">
  Wishes.loadItems(<%= @wishlist.id %>);
</script>

<!-- AJAX for adding an item goes here -->